.homeLink {
    text-decoration: none;
    color: white;
}

.menuBarLink{
    text-decoration: none;
    color: green;
}

.header {
    width: 100%;
    padding: 50px 0px 50px;
    background: #212121;
    color: white;
    text-align: center;
    justify-content: center;
}